---
const { title, img, desc, url, badge, tags, draft, target } = Astro.props;
import { Image } from "astro:assets";

const tag_url = url ? url.split("/").slice(0, -1).join("/") + "/tag" : "#";
const computedTarget = target ? target : (draft ? "_blank" : "_self");
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <div class="hero-content flex-col md:flex-row">
    {
      img && (
        <a href={url} target={computedTarget} class="w-full md:w-auto">
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        </a>
      )
    }
    
    <div class="grow w-full">
      <a href={url} target={computedTarget} class="group">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl text-base-content/70">{desc}</p>
      </a>

      <div class="card-actions justify-end mt-3">
        {
          tags &&
            tags.map((tag) => (
              <a href={`${tag_url}/${tag}`} class="badge badge-outline hover:bg-primary hover:text-white transition-all">
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </div>
</div>
